[defaults]
inventory = localhost,
roles_path = ./apps/common:./apps/mac:./apps/linux:./apps/win:./commandline_tools/common:./commandline_tools/mac:./commandline_tools/linux:./commandline_tools/win:./settings/common:./settings/mac:./settings/linux:./settings/win
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[privilege_escalation]
become_method = sudo
